In [207]:
# so do an xgboost or random forest and see which type of policy has the greatest impact
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import os
import tensorflow as tf
from tqdm import tqdm
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_log_error

from datetime import datetime
from datetime import timedelta

from tensorflow.keras import layers
from tensorflow.keras import Input
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import ModelCheckpoint, ReduceLROnPlateau, EarlyStopping

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings; warnings.simplefilter('ignore')

In [208]:
policy = pd.read_csv('policy_for_analysis.csv')
policy.drop(columns = ['Introduced by'], inplace =True)
policy.head()

,Date,Policy,Category,Deemed_sig_by_tracker
0,2020-01-10,Guidance published for health care providers o...,Infection prevention and control,1
1,2020-01-10,Guidance published for clinicians on the inves...,Health and social care settings,1
2,2020-01-10,Public Health England offers advice for travel...,Travel measures,0
3,2020-01-16,An interim recommendation is made to classify ...,Other,0
4,2020-01-21,Guidance published for primary care profession...,Health and social care settings,0

In [209]:
df = pd.read_csv('df_utla.csv')
df.drop(columns = ['Unnamed: 0'], inplace =True)
# drop my cruidly made Restrictions
df = df.drop(columns = 'Restrictions')

# daily per 100,000
df['case_rate_on_day'] = df['Daily_lab-confirmed_cases'] / (df['Population']/100000)

# add days since first infection
df['date'] = pd.to_datetime(df.date)
day_1 = min(df['date'].unique())
df['days_since_first'] = (df['date'] - day_1)
df['days_since_first'] = df['days_since_first'].astype(str)
df['days_since_first'] = df['days_since_first'].str.replace(' days', '')
df['days_since_first'] = df['days_since_first'].astype(int)

In [210]:
# want to display case rate for 2 weeks in the future as the current features will effect case rate 
# means I can't look at two most recent weeks as wont have case rates for it...
df['2_weeks_future_date'] = df['date'] + timedelta(days=14)
temp = df[['date', 'case_rate_on_day', 'Area_code']]
temp.rename(columns = {'case_rate_on_day':'case_rate_in_2_weeks', 'date':'date2'}, inplace = True)
df = pd.merge(df, temp, how='left', left_on=('2_weeks_future_date', 'Area_code'), right_on=('date2', 'Area_code'))

# df = shuffle(df)
# confirming that join was successful
# df[(df['date']== '2020-07-27') & (df['Area_name']=='Warwickshire')]
#df[(df['date']== '2020-08-10') & (df['Area_name']=='Warwickshire')]
# drop NA for case_rate_in_2_weeks Column
df = df[df['case_rate_in_2_weeks'].notna()]

In [211]:
# now need to add in policy info
# i think I will one hot encode to have a each unique date with policy totals based on category

# one hot encode
policy_encoded = pd.get_dummies(policy, columns = ['Category'], drop_first=True)
policy_encoded


# aggregate for date... i.e. each date will have a number of policies for each cat and num of sig policies for the day

policy_encoded = policy_encoded.groupby(by = 'Date').sum().reset_index()
policy_encoded

,Date,Deemed_sig_by_tracker,Category_Health and social care settings,Category_Infection prevention and control,Category_Informing the public,Category_Legal change,Category_Legal change,"Category_Monitoring, Testing",Category_Non-health and social care settings,Category_Non-health and social care settings,...,Category_SAGE papers,Category_Shielding measures,Category_Shielding measures,Category_Social distancing measures,Category_Social distancing measures,"Category_Testing, surveillance and contact tracing","Category_Testing, surveillance and contact tracing",Category_Travel measures,Category_Travel measures,Category_Vaccine
0,2020-01-10,2,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2020-01-16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-21,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-22,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2020-01-28,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2020-10-01,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144,2020-10-08,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
145,2020-10-12,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
146,2020-10-14,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
147,2020-10-15,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [212]:
# merge policy with df

df = df.drop(columns = ['date2'])
policy_encoded['Date'] = pd.to_datetime(policy_encoded['Date'])
df = pd.merge(df, policy_encoded, how='left', left_on=('date'), right_on=('Date'))
df = df.drop(columns = ['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33503 entries, 0 to 33502
Data columns (total 34 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Area_name                                            33503 non-null  object
 1   Area_code                                            33503 non-null  object
 2   Area_type                                            33503 non-null  object
 3   date                                                 33503 non-null  datetime64[ns]
 4   Daily_lab-confirmed_cases                            33503 non-null  int64
 5   ConfirmedCases                                       33503 non-null  int64
 6   Cumulative_lab-confirmed_cases_rate                  33503 non-null  float64
 7   id                                                   33503 non-null  int64
 8   Population                                           33503 non-null  float64
 9   case_rate_on_day                                     33503 non-null  float64
 10  days_since_first                                     33503 non-null  int32
 11  2_weeks_future_date                                  33503 non-null  datetime64[ns]
 12  case_rate_in_2_weeks                                 33503 non-null  float64
 13  Deemed_sig_by_tracker                                19361 non-null  float64
 14  Category_Health and social care settings             19361 non-null  float64
 15  Category_Infection prevention and control            19361 non-null  float64
 16  Category_Informing the public                        19361 non-null  float64
 17  Category_Legal change                                19361 non-null  float64
 18  Category_Legal change                                19361 non-null  float64
 19  Category_Monitoring, Testing                         19361 non-null  float64
 20  Category_Non-health and social care settings         19361 non-null  float64
 21  Category_Non-health and social care settings         19361 non-null  float64
 22  Category_Other                                       19361 non-null  float64
 23  Category_Other                                       19361 non-null  float64
 24  Category_SAGE papers                                 19361 non-null  float64
 25  Category_Shielding measures                          19361 non-null  float64
 26  Category_Shielding measures                          19361 non-null  float64
 27  Category_Social distancing measures                  19361 non-null  float64
 28  Category_Social distancing measures                  19361 non-null  float64
 29  Category_Testing, surveillance and contact tracing   19361 non-null  float64
 30  Category_Testing, surveillance and contact tracing   19361 non-null  float64
 31  Category_Travel measures                             19361 non-null  float64
 32  Category_Travel measures                             19361 non-null  float64
 33  Category_Vaccine                                     19361 non-null  float64
dtypes: datetime64[ns](2), float64(25), int32(1), int64(3), object(3)
memory usage: 8.8+ MB

In [213]:
# fill na with zeros if have prefix Category columns and Deemed_sig_by_tracker

Cat_columns = df.filter(regex='^Category_',axis=1)
Cat_columns = Cat_columns.fillna(0)
df.filter(regex='^Category_',axis=1).fillna(0)

df.fillna(0, inplace=True)
df.isna().sum()

Area_name                                              0
Area_code                                              0
Area_type                                              0
date                                                   0
Daily_lab-confirmed_cases                              0
ConfirmedCases                                         0
Cumulative_lab-confirmed_cases_rate                    0
id                                                     0
Population                                             0
case_rate_on_day                                       0
days_since_first                                       0
2_weeks_future_date                                    0
case_rate_in_2_weeks                                   0
Deemed_sig_by_tracker                                  0
Category_Health and social care settings               0
Category_Infection prevention and control              0
Category_Informing the public                          0
Category_Legal change                                  0
Category_Legal change                                  0
Category_Monitoring, Testing                           0
Category_Non-health and social care settings           0
Category_Non-health and social care settings           0
Category_Other                                         0
Category_Other                                         0
Category_SAGE papers                                   0
Category_Shielding measures                            0
Category_Shielding measures                            0
Category_Social distancing measures                    0
Category_Social distancing measures                    0
Category_Testing, surveillance and contact tracing     0
Category_Testing, surveillance and contact tracing     0
Category_Travel measures                               0
Category_Travel measures                               0
Category_Vaccine                                       0
dtype: int64

In [214]:
df

,Area_name,Area_code,Area_type,date,Daily_lab-confirmed_cases,ConfirmedCases,Cumulative_lab-confirmed_cases_rate,id,Population,case_rate_on_day,...,Category_SAGE papers,Category_Shielding measures,Category_Shielding measures,Category_Social distancing measures,Category_Social distancing measures,"Category_Testing, surveillance and contact tracing","Category_Testing, surveillance and contact tracing",Category_Travel measures,Category_Travel measures,Category_Vaccine
0,York,E06000014,utla,2020-01-30,1,1,0.5,112403,210618.0,0.474793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,York,E06000014,utla,2020-01-31,0,1,0.5,112402,210618.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,York,E06000014,utla,2020-02-01,0,1,0.5,112401,210618.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,York,E06000014,utla,2020-02-02,0,1,0.5,112400,210618.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,York,E06000014,utla,2020-02-03,0,1,0.5,112399,210618.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33498,Wakefield,E08000036,utla,2020-10-14,163,4698,1348.8,108308,348312.0,46.797124,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33499,Gloucestershire,E10000013,utla,2020-10-14,64,3217,505.0,87103,637070.0,10.045992,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33500,Oldham,E08000004,utla,2020-10-14,192,6410,2703.4,98590,237110.0,80.975075,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33501,Norfolk,E10000020,utla,2020-10-14,78,4611,508.0,96215,907760.0,8.592580,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33502,Medway,E06000035,utla,2020-10-14,24,1499,538.1,94786,278556.0,8.615862,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [215]:
df.to_csv('cases_analysis.csv')

In [216]:
# one hot encode Area_name
df_encoded = pd.get_dummies(df, prefix = 'utla', columns =  ['Area_name'], drop_first=True)

In [217]:
df_encoded

,Area_code,Area_type,date,Daily_lab-confirmed_cases,ConfirmedCases,Cumulative_lab-confirmed_cases_rate,id,Population,case_rate_on_day,days_since_first,...,utla_West Sussex,utla_Westminster,utla_Wigan,utla_Wiltshire,utla_Windsor and Maidenhead,utla_Wirral,utla_Wokingham,utla_Wolverhampton,utla_Worcestershire,utla_York
0,E06000014,utla,2020-01-30,1,1,0.5,112403,210618.0,0.474793,0,...,0,0,0,0,0,0,0,0,0,1
1,E06000014,utla,2020-01-31,0,1,0.5,112402,210618.0,0.000000,1,...,0,0,0,0,0,0,0,0,0,1
2,E06000014,utla,2020-02-01,0,1,0.5,112401,210618.0,0.000000,2,...,0,0,0,0,0,0,0,0,0,1
3,E06000014,utla,2020-02-02,0,1,0.5,112400,210618.0,0.000000,3,...,0,0,0,0,0,0,0,0,0,1
4,E06000014,utla,2020-02-03,0,1,0.5,112399,210618.0,0.000000,4,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33498,E08000036,utla,2020-10-14,163,4698,1348.8,108308,348312.0,46.797124,258,...,0,0,0,0,0,0,0,0,0,0
33499,E10000013,utla,2020-10-14,64,3217,505.0,87103,637070.0,10.045992,258,...,0,0,0,0,0,0,0,0,0,0
33500,E08000004,utla,2020-10-14,192,6410,2703.4,98590,237110.0,80.975075,258,...,0,0,0,0,0,0,0,0,0,0
33501,E10000020,utla,2020-10-14,78,4611,508.0,96215,907760.0,8.592580,258,...,0,0,0,0,0,0,0,0,0,0
33502,E06000035,utla,2020-10-14,24,1499,538.1,94786,278556.0,8.615862,258,...,0,0,0,0,0,0,0,0,0,0

In [218]:
df_encoded.groupby('date')

In [219]:
#df = pd.concat([df,pd.get_dummies(df['Area_name'], prefix='ps')],axis=1)

In [220]:
df = df.set_index(['date'])
df

,Area_name,Area_code,Area_type,Daily_lab-confirmed_cases,ConfirmedCases,Cumulative_lab-confirmed_cases_rate,id,Population,case_rate_on_day,days_since_first,...,Category_SAGE papers,Category_Shielding measures,Category_Shielding measures,Category_Social distancing measures,Category_Social distancing measures,"Category_Testing, surveillance and contact tracing","Category_Testing, surveillance and contact tracing",Category_Travel measures,Category_Travel measures,Category_Vaccine
date,,,,,,,,,,,,,,,,,,,,,
2020-01-30,York,E06000014,utla,1,1,0.5,112403,210618.0,0.474793,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-31,York,E06000014,utla,0,1,0.5,112402,210618.0,0.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-01,York,E06000014,utla,0,1,0.5,112401,210618.0,0.000000,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-02,York,E06000014,utla,0,1,0.5,112400,210618.0,0.000000,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-03,York,E06000014,utla,0,1,0.5,112399,210618.0,0.000000,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-14,Wakefield,E08000036,utla,163,4698,1348.8,108308,348312.0,46.797124,258,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-10-14,Gloucestershire,E10000013,utla,64,3217,505.0,87103,637070.0,10.045992,258,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-10-14,Oldham,E08000004,utla,192,6410,2703.4,98590,237110.0,80.975075,258,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-10-14,Norfolk,E10000020,utla,78,4611,508.0,96215,907760.0,8.592580,258,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-10-14,Medway,E06000035,utla,24,1499,538.1,94786,278556.0,8.615862,258,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [221]:
def create_time_features(df):
    """
    Creates time series features from datetime index
    """
    df['date'] = df.index
    df['hour'] = df['date'].dt.hour
    df['dayofweek'] = df['date'].dt.dayofweek
    df['quarter'] = df['date'].dt.quarter
    df['month'] = df['date'].dt.month
    df['year'] = df['date'].dt.year
    df['dayofyear'] = df['date'].dt.dayofyear
    df['dayofmonth'] = df['date'].dt.day
    df['weekofyear'] = df['date'].dt.weekofyear
    
    X = df[['hour','dayofweek','quarter','month','year',
           'dayofyear','dayofmonth','weekofyear']]
    return X

In [222]:
create_time_features(df)

,hour,dayofweek,quarter,month,year,dayofyear,dayofmonth,weekofyear
date,,,,,,,,
2020-01-30,0,3,1,1,2020,30,30,5
2020-01-31,0,4,1,1,2020,31,31,5
2020-02-01,0,5,1,2,2020,32,1,5
2020-02-02,0,6,1,2,2020,33,2,5
2020-02-03,0,0,1,2,2020,34,3,6
...,...,...,...,...,...,...,...,...
2020-10-14,0,2,4,10,2020,288,14,42
2020-10-14,0,2,4,10,2020,288,14,42
2020-10-14,0,2,4,10,2020,288,14,42
2020-10-14,0,2,4,10,2020,288,14,42
2020-10-14,0,2,4,10,2020,288,14,42

In [223]:
df= pd.get_dummies(df, prefix = 'utla', columns =  ['Area_name'], drop_first=True)

In [228]:
df.drop("date", axis=1, inplace=True) #### maybe maybe not
df = df.reset_index()
df.head()

,date,Area_code,Area_type,Daily_lab-confirmed_cases,ConfirmedCases,Cumulative_lab-confirmed_cases_rate,id,Population,case_rate_on_day,days_since_first,...,utla_West Sussex,utla_Westminster,utla_Wigan,utla_Wiltshire,utla_Windsor and Maidenhead,utla_Wirral,utla_Wokingham,utla_Wolverhampton,utla_Worcestershire,utla_York
0,2020-01-30,E06000014,utla,1,1,0.5,112403,210618.0,0.474793,0,...,0,0,0,0,0,0,0,0,0,1
1,2020-01-31,E06000014,utla,0,1,0.5,112402,210618.0,0.000000,1,...,0,0,0,0,0,0,0,0,0,1
2,2020-02-01,E06000014,utla,0,1,0.5,112401,210618.0,0.000000,2,...,0,0,0,0,0,0,0,0,0,1
3,2020-02-02,E06000014,utla,0,1,0.5,112400,210618.0,0.000000,3,...,0,0,0,0,0,0,0,0,0,1
4,2020-02-03,E06000014,utla,0,1,0.5,112399,210618.0,0.000000,4,...,0,0,0,0,0,0,0,0,0,1

In [229]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33503 entries, 0 to 33502
Data columns (total 189 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   date                                                 datetime64[ns]
 1   Area_code                                            object
 2   Area_type                                            object
 3   Daily_lab-confirmed_cases                            int64
 4   ConfirmedCases                                       int64
 5   Cumulative_lab-confirmed_cases_rate                  float64
 6   id                                                   int64
 7   Population                                           float64
 8   case_rate_on_day                                     float64
 9   days_since_first                                     int32
 10  2_weeks_future_date                                  datetime64[ns]
 11  case_rate_in_2_weeks                                 float64
 12  Deemed_sig_by_tracker                                float64
 13  Category_Health and social care settings             float64
 14  Category_Infection prevention and control            float64
 15  Category_Informing the public                        float64
 16  Category_Legal change                                float64
 17  Category_Legal change                                float64
 18  Category_Monitoring, Testing                         float64
 19  Category_Non-health and social care settings         float64
 20  Category_Non-health and social care settings         float64
 21  Category_Other                                       float64
 22  Category_Other                                       float64
 23  Category_SAGE papers                                 float64
 24  Category_Shielding measures                          float64
 25  Category_Shielding measures                          float64
 26  Category_Social distancing measures                  float64
 27  Category_Social distancing measures                  float64
 28  Category_Testing, surveillance and contact tracing   float64
 29  Category_Testing, surveillance and contact tracing   float64
 30  Category_Travel measures                             float64
 31  Category_Travel measures                             float64
 32  Category_Vaccine                                     float64
 33  hour                                                 int64
 34  dayofweek                                            int64
 35  quarter                                              int64
 36  month                                                int64
 37  year                                                 int64
 38  dayofyear                                            int64
 39  dayofmonth                                           int64
 40  weekofyear                                           int64
 41  utla_Barnet                                          uint8
 42  utla_Barnsley                                        uint8
 43  utla_Bath and North East Somerset                    uint8
 44  utla_Bedford                                         uint8
 45  utla_Bexley                                          uint8
 46  utla_Birmingham                                      uint8
 47  utla_Blackburn with Darwen                           uint8
 48  utla_Blackpool                                       uint8
 49  utla_Bolton                                          uint8
 50  utla_Bournemouth, Christchurch and Poole             uint8
 51  utla_Bracknell Forest                                uint8
 52  utla_Bradford                                        uint8
 53  utla_Brent                                           uint8
 54  utla_Brighton and Hove                               uint8
 55  utla_Bristol, City of                                uint8
 56  utla_Bromley                                         uint8
 57  utla_Buckinghamshire                                 uint8
 58  utla_Bury                                            uint8
 59  utla_Calderdale                                      uint8
 60  utla_Cambridgeshire                                  uint8
 61  utla_Camden                                          uint8
 62  utla_Central Bedfordshire                            uint8
 63  utla_Cheshire East                                   uint8
 64  utla_Cheshire West and Chester                       uint8
 65  utla_Cornwall and Isles of Scilly                    uint8
 66  utla_County Durham                                   uint8
 67  utla_Coventry                                        uint8
 68  utla_Croydon                                         uint8
 69  utla_Cumbria                                         uint8
 70  utla_Darlington                                      uint8
 71  utla_Derby                                           uint8
 72  utla_Derbyshire                                      uint8
 73  utla_Devon                                           uint8
 74  utla_Doncaster                                       uint8
 75  utla_Dorset                                          uint8
 76  utla_Dudley                                          uint8
 77  utla_Ealing                                          uint8
 78  utla_East Riding of Yorkshire                        uint8
 79  utla_East Sussex                                     uint8
 80  utla_Enfield                                         uint8
 81  utla_Essex                                           uint8
 82  utla_Gateshead                                       uint8
 83  utla_Gloucestershire                                 uint8
 84  utla_Greenwich                                       uint8
 85  utla_Hackney and City of London                      uint8
 86  utla_Halton                                          uint8
 87  utla_Hammersmith and Fulham                          uint8
 88  utla_Hampshire                                       uint8
 89  utla_Haringey                                        uint8
 90  utla_Harrow                                          uint8
 91  utla_Hartlepool                                      uint8
 92  utla_Havering                                        uint8
 93  utla_Herefordshire, County of                        uint8
 94  utla_Hertfordshire                                   uint8
 95  utla_Hillingdon                                      uint8
 96  utla_Hounslow                                        uint8
 97  utla_Isle of Wight                                   uint8
 98  utla_Islington                                       uint8
 99  utla_Kensington and Chelsea                          uint8
 100 utla_Kent                                            uint8
 101 utla_Kingston upon Hull, City of                     uint8
 102 utla_Kingston upon Thames                            uint8
 103 utla_Kirklees                                        uint8
 104 utla_Knowsley                                        uint8
 105 utla_Lambeth                                         uint8
 106 utla_Lancashire                                      uint8
 107 utla_Leeds                                           uint8
 108 utla_Leicester                                       uint8
 109 utla_Leicestershire                                  uint8
 110 utla_Lewisham                                        uint8
 111 utla_Lincolnshire                                    uint8
 112 utla_Liverpool                                       uint8
 113 utla_Luton                                           uint8
 114 utla_Manchester                                      uint8
 115 utla_Medway                                          uint8
 116 utla_Merton                                          uint8
 117 utla_Middlesbrough                                   uint8
 118 utla_Milton Keynes                                   uint8
 119 utla_Newcastle upon Tyne                             uint8
 120 utla_Newham                                          uint8
 121 utla_Norfolk                                         uint8
 122 utla_North East Lincolnshire                         uint8
 123 utla_North Lincolnshire                              uint8
 124 utla_North Somerset                                  uint8
 125 utla_North Tyneside                                  uint8
 126 utla_North Yorkshire                                 uint8
 127 utla_Northamptonshire                                uint8
 128 utla_Northumberland                                  uint8
 129 utla_Nottingham                                      uint8
 130 utla_Nottinghamshire                                 uint8
 131 utla_Oldham                                          uint8
 132 utla_Oxfordshire                                     uint8
 133 utla_Peterborough                                    uint8
 134 utla_Plymouth                                        uint8
 135 utla_Portsmouth                                      uint8
 136 utla_Reading                                         uint8
 137 utla_Redbridge                                       uint8
 138 utla_Redcar and Cleveland                            uint8
 139 utla_Richmond upon Thames                            uint8
 140 utla_Rochdale                                        uint8
 141 utla_Rotherham                                       uint8
 142 utla_Rutland                                         uint8
 143 utla_Salford                                         uint8
 144 utla_Sandwell                                        uint8
 145 utla_Sefton                                          uint8
 146 utla_Sheffield                                       uint8
 147 utla_Shropshire                                      uint8
 148 utla_Slough                                          uint8
 149 utla_Solihull                                        uint8
 150 utla_Somerset                                        uint8
 151 utla_South Gloucestershire                           uint8
 152 utla_South Tyneside                                  uint8
 153 utla_Southampton                                     uint8
 154 utla_Southend-on-Sea                                 uint8
 155 utla_Southwark                                       uint8
 156 utla_St. Helens                                      uint8
 157 utla_Staffordshire                                   uint8
 158 utla_Stockport                                       uint8
 159 utla_Stockton-on-Tees                                uint8
 160 utla_Stoke-on-Trent                                  uint8
 161 utla_Suffolk                                         uint8
 162 utla_Sunderland                                      uint8
 163 utla_Surrey                                          uint8
 164 utla_Sutton                                          uint8
 165 utla_Swindon                                         uint8
 166 utla_Tameside                                        uint8
 167 utla_Telford and Wrekin                              uint8
 168 utla_Thurrock                                        uint8
 169 utla_Torbay                                          uint8
 170 utla_Tower Hamlets                                   uint8
 171 utla_Trafford                                        uint8
 172 utla_Wakefield                                       uint8
 173 utla_Walsall                                         uint8
 174 utla_Waltham Forest                                  uint8
 175 utla_Wandsworth                                      uint8
 176 utla_Warrington                                      uint8
 177 utla_Warwickshire                                    uint8
 178 utla_West Berkshire                                  uint8
 179 utla_West Sussex                                     uint8
 180 utla_Westminster                                     uint8
 181 utla_Wigan                                           uint8
 182 utla_Wiltshire                                       uint8
 183 utla_Windsor and Maidenhead                          uint8
 184 utla_Wirral                                          uint8
 185 utla_Wokingham                                       uint8
 186 utla_Wolverhampton                                   uint8
 187 utla_Worcestershire                                  uint8
 188 utla_York                                            uint8
dtypes: datetime64[ns](2), float64(25), int32(1), int64(11), object(2), uint8(148)
memory usage: 15.1+ MB

In [240]:
df_main = df.copy()
# drop all non usable columns
df_main = df_main.loc[:,~df_main.columns.duplicated()]
df_main = df_main.drop(columns = ['date', 'Area_code','Area_type','id','2_weeks_future_date'])
df_main

,Daily_lab-confirmed_cases,ConfirmedCases,Cumulative_lab-confirmed_cases_rate,Population,case_rate_on_day,days_since_first,case_rate_in_2_weeks,Deemed_sig_by_tracker,Category_Health and social care settings,Category_Infection prevention and control,...,utla_West Sussex,utla_Westminster,utla_Wigan,utla_Wiltshire,utla_Windsor and Maidenhead,utla_Wirral,utla_Wokingham,utla_Wolverhampton,utla_Worcestershire,utla_York
0,1,1,0.5,210618.0,0.474793,0,0.000000,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,0,1,0.5,210618.0,0.000000,1,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0.5,210618.0,0.000000,2,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0,1,0.5,210618.0,0.000000,3,0.000000,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0.5,210618.0,0.000000,4,0.000000,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33498,163,4698,1348.8,348312.0,46.797124,258,0.287099,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
33499,64,3217,505.0,637070.0,10.045992,258,0.000000,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
33500,192,6410,2703.4,237110.0,80.975075,258,0.421745,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
33501,78,4611,508.0,907760.0,8.592580,258,0.220323,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
33502,24,1499,538.1,278556.0,8.615862,258,1.435977,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Check the datatypes, they need to all be int, float, or bool
x_train.dtypes.unique()

# there is an object .... needs to be removed

In [241]:
from sklearn.model_selection import train_test_split
# first shuffle 
df_main = shuffle(df_main)

# then train test split 
features = df_main.drop('case_rate_in_2_weeks', axis=1)
labels = df_main['case_rate_in_2_weeks']


# model is built using x_train and y_train, will be assesed wirh X_test, y_test
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.4, random_state=42)

#this splits into validation and test
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=0.5, random_state=42)


# then do cross validation with train data

In [242]:
#test to see if worked
for dataset in [y_train, y_val, y_test]:
    print(round(len(dataset) / len(labels), 2))
#so shows of data set train = 60%, validation is 20% and test is 20%

0.6
0.2
0.2

array([dtype('int64'), dtype('float64'), dtype('int32'), dtype('uint8')],
      dtype=object)

In [237]:
# xgb model
reg = xgb.XGBRegressor(n_estimators=1000)

reg.fit(X_train, y_train, verbose=True)

NameError: name 'xgb' is not defined

In [ ]:
plot = plot_importance(reg, height=0.9, max_num_features=20)

In [ ]:
# can use the days case rate as a feature to predict in two weeks, maybe even case rate from several days prior

In [ ]:
# don't need to feature scale with decsion tree models

In [ ]:
#  could be good to look at percent change instead of daily rate 
# y_train = train.groupby(["Country/Region"]).Fatalities.pct_change(periods=1)